{% extends "main/layout_2.html" %}
{% block content %}

{% for appeals in appeal %}
    <tr class='success'>
        <td>{{ appeals.id }}</td>
<!--        Номер обращения (думаю надо сделать чекбокс, типо по нему жмешь и вылазит остальная инфа, ну или опять же делать редирект на новую страницу)-->
        <td>{{ appeals.time_create }}</td>
<!--        дата создания-->
        <td>{{ appeals.subject }}</td>
<!--тема обращения-->
        <td>{{ appeals.content }}</td>
<!--        текст обращения-->
    </tr>
{% endfor %}
{% endblock %}